<!DOCTYPE html>
@{ AnnetyEntities db = new AnnetyEntities();}
<html>
<head >
    <style>
        SaleText {
        color:red;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Annety</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*.container {
    max-width: 1270px;}*@
</head>
<body class="Body1">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-image: url('../../Images/header.jpg');background-repeat:no-repeat;background-size:100% 100%;height:70px;">

        <a >
            <div class="srchbtn" id="srchbtn" style="width:35px;height:25px;background:transparent;position:absolute;left:320px;top:25px;cursor:pointer;" onclick="Search_Box()" ></div>
        </a>

            <div class="homebtn" style="width:170px;height:77px;background:transparent;position:absolute;left:590px;top:0;cursor:pointer;" onclick="location.href ='../../Home/Index';">
                <a href="#"></a>
                
            </div>
            <div class="container">

                <input type="text" id="Search_Box" placeholder="Search" style="margin-top:28px;height:11px;border-color:transparent;border-style:hidden;left:0; width:20%" />

                <div class="col-lg-6" style="float:right; margin-left:50px;width:25px;">@Html.Partial("_LoginPartial")</div>
                <a href='' style="float: right;margin-top: -5px;margin-left: 900px;margin-right:17px;position:absolute"></a>
                <div class="dropdown" style="float:right;margin-top:45px;margin-left:20px;left:80px;">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="float:right;top:15px;margin-top:-10px">
                        My Account
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="float:left;margin-left:-30px;">
                        <li><a href='../../SearchResult/WatchList'>WatchList</a></li>
                        <li><a href="#">My Cart</a></li>
                        <li><a href="#">My Orders</a></li>
                        @if (Session["UserDetails"] != null )
                        {
                            <li ><a href="#">My Profile</a></li>
                        }
                    </ul>
                </div>
            </div>
        
    </div>    
    
    <div class="MainMenu">

        <div style="padding-top: 10px; padding-left: 20px;background-color:white; ">
            <h4>Boys</h4> <hr />

            @foreach (var item in db.Categories)
            {
                if (item.ParentCategory == true)
                {   <a href='@Url.Action("FromMenu", "SearchResult", new { item.CategoryCode })'>

                    @Html.DisplayFor(modelItem => item.Desc)
                    <br />
                </a>
                }
            }
            <br /><h4>Girls</h4><hr />
            @foreach (var item  in db.Categories)
            {
                if (item.ParentCategory != true)
                {  <a href='@Url.Action("FromMenu", "SearchResult", new { item.CategoryCode })'>

                    @Html.DisplayFor(modelItem => item.Desc)
                    <br />
                </a>
                }
            }

        </div>

    </div>
    <div style="padding-bottom:2em; padding-left:215px;">
        @RenderBody()
        @*<hr />*@
    </div>
    
    <footer class="navbar-fixed-bottom">
        <div class="navbar-collapse collapse" style="text-align: center;background-color:white;background-image:url('../../Images/background.png');background-size:100% 100% ;background-repeat:no-repeat;">
            <ol class="nav navbar-nav" style="background-color:transparent;position:center;">

                @if (Session["UserDetails"] != null && Session["UserDetails"].ToString() == "Bella-Dom")
                {
                    <li style="margin-right:150px">@Html.ActionLink("For Manager", "Manage", "Home")</li>
                }
                <li style="margin-right:150px">@Html.ActionLink("About Us", "About", "Home")</li>
                <li style="margin-right:150px">@Html.ActionLink("Contact Us", "Contact", "Home")</li>

                  <li id="SaleText" style="margin-right:150px;color:red; ">@Html.ActionLink("Sale", "Sale", "SearchResult")</li>
                <li @*style="margin-right:150px; "*@>@Html.ActionLink("New Arrival", "NewArrival", "SearchResult")</li>
                

            </ol>

        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script >
        srchbtn.onclick = Search_Box

        function Search_Box()
        {
            var Word = document.getElementById('Search_Box').value;
            var url = '@Url.Action("Search_Box", "SearchResult")?Search_Box=' + Word;
            document.location.href = url;

        }


    </script>
</body>



</html>
