@*@using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right" >
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }*@
<html>
<body>

    @if (Session["UserDetails"] == null)
    {
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <div id="loginLink" style="float:right; margin-left:10px;"><a href='../Users/LoginPage'>Login</a></div>

        <div id="registerLink" style="float:right"><a href="@Url.Action("Create", "Users")">Register</a></div>
    }

    else
    {
        <p style="font-size:15px; font-family:Tahoma;width:100px;float:right;">Hi @Session["UserDetails"].ToString()</p>
        <div><a href="../../Home/Index" onclick="Logout()" id="LogoutBtn">Logout</a></div>
    }

    @*<li id="loginLink" style="float:right;margin-top:20px;margin-left:10px;" ><a href="~/Views/LoginPage.html">Login</a></li>
        <li id="registerLink" style="float:right;"><a href="~/Views/Registration.html">Register</a></li>*@
    <script>
        LogoutBtn.onclick = Logout

        function Logout()
        {
            //session מאפס את ה
            @Session["UserDetails"]=null;
            @Session["User"]=null;
            //window.location.reload();
            return ("Index","Home");

        }



    </script>

</body>

</html>