@model Annety.Item
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*//@{ AnnetyEntities db = new AnnetyEntities();}*@
<html>
<body>
 

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    @*<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>*@
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <style>
        .w3-container {
            height: 350px;
        }

        .CartImg {
            width: 60px;
            margin-top: 20px;
            margin-left: 28px;
        }

        .w3-container .itemInfo {
            width: 350px;
            display: inline-block;
            height: 350px;
            padding-bottom: 30px;
            top: 0;
            vertical-align: top;
        }

        .price {
            float: left;
            width: 45%;
        }

        .buy {
            float: right;
            width: 45%;
        }

        .PayNowBtn img {
            width: 130px;
        }
    </style>
    <div style="margin-top:40px">
        <h4></h4>
        <hr />
        </div>
        <div class="w3-col l3 s6">
            <div class="w3-container" style="cursor:pointer;">
                <img src="@Url.Content("~/ProductImages/" + System.IO.Path.GetFileName(Model.DisProd.ImagePath))" style="margin-left:10px; width:350px;height:500px;" />
                <div class="itemInfo" style="margin-left:35px;">
                    <p style="width:650px;font-size:25px;">@Model.DisProd.Desc</p>
                    <div class="price">
                        <label >Price: @Model.DisProd.Price</label><br />
                        <label style="display:inline">Size:</label>
                           @Html.DropDownList("ProductSize", null, htmlAttributes: new { @class = "form-control"})
                          @{ Session["TotalPayment"] = Model.DisProd.Price;
                        }
                        <label style="display:inline">Quantity</label>
                        <input type="number" value="1" style="width:50px;margin-top:10px;" /><br>
                        <label style="display:inline">Color:</label>
                         @*Html.DropDownListFor(Model.ProdColor, "ProductColors", htmlAttributes: new { @class = "form-control" })*@
                        @Html.DropDownList("ProductColors", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="buy" style="margin-right:-150px;">
                        <div class="PayNowBtn" id="PayNowBtn" onclick="Pay_Now()" >
                                <img id="PayImg" src="~/Images/pay now.png" onclick="Pay_Now()"/>
                        </div>
                        <label style="margin-left:20px;margin-top:10px;">Or add to cart</label>

                        <div class="AddToCartBtn" id="AddToCartBtn" style="margin-left:35px">
                            <img src="~/Images/cart pink.png" id="CartImg" onclick="AddToCart()" style="width:60px;margin-top:10px;"/>
                        </div>
                    </div>
              
                </div>

            </div>
            <div>
                <label>More things you may like</label>
                @{ foreach (var item in Model.UMayLike)
                    {
                       <div class="row">
                           <img src="@Url.Content("~/ProductImages/" + System.IO.Path.GetFileName(item.ImagePath))" style="width:150px;height:200px;margin-left:10px; " />
                       </div>
                    }

                }
            </div>
            <p @Html.DisplayFor(model => Model.DisProd.Barcode)
               style="display:none">@Model.DisProd.Barcode</p>
            @*@Html.DropDownList("CodeSize", null, htmlAttributes: new { @class = "form-control", @placeholder = "Product Size" })*@
        
    </div>
    <a href='@Url.Action("EditDetails", "Home")'>Edith user details</a>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.your-class').slick({
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 2000,
                });
            });
        </script>
        <script>
            PayImg.onclick = Pay_Now
            PayNowBtn.onclick = Pay_Now
            AddToCartBtn = AddToCart

            function  AddToCart()
            {
                $.ajax({
                    url: '@Url.Action("../Products/AddToCart")',
                    type: 'GET',
                    dataType: 'json',
                    // we set cache: false because GET requests are often cached by browsers
                    // IE is particularly aggressive in that respect
                    cache: false,
                    data: { Product: @Model.DisProd.ProductKey }
                });


            }
            function Pay_Now() {

                sessionStorage["P"] = @Model.DisProd.Price;
                var url = '@Url.Action("Payment", "SearchResult")';
                document.location.href = url;

            }


        </script>

</body>
</html>