@model Product

@{
    ViewBag.Title = "Item";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin-top:40px">
    <h4>Buy Product</h4>
    <hr />
    <div class="w3-col l3 s6">
        <div class="w3-container" style="cursor:pointer;">
            <img src="@Url.Content("~/ProductImages/" + System.IO.Path.GetFileName(Model.ImagePath))" style="width:150px;height:200px;margin-left:10px; " />
            <p style="width:150px;height:150px;padding-bottom:30px;">@Model.Desc<br><b>@Model.Price</b></p>
        </div>
        @Html.DisplayFor(model => model.Barcode)
        <p>@Model.Barcode</p>
        @*@Html.DropDownList("CodeSize", null, htmlAttributes: new { @class = "form-control", @placeholder = "Product Size" })*@
    </div>
</div>

