@model IEnumerable<Annety.ItemInCart>

@{
    ViewBag.Title = "MyCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyCart</h2>
<html><body>
@foreach (var item in Model)
{
    <div class="w3-row w3-grayscale" style="float:left; margin:5px">
        <div class="w3-col l3 s6">
                <div class="w3-container" style="cursor:pointer;">
                    <img src="@Url.Content("~/ProductImages/" + System.IO.Path.GetFileName(item.Product.ImagePath))" style="width:150px;height:200px;margin-left:10px; " />
                        @item.Product.Desc<br>
                       <b>$@item.Product.Price</b><br />
                       <b>Units:</b><p>@item.Units</p><br />
                       <b>Color:</b><p>@item.ColorName</p><br />
                       <b>Size: </b><p>@item.SizeDesc</p>
                    <div class="PayNowBtn" id="PayNowBtn" onclick="Pay_Now(@item.Product.Price)">
                       <img id="PayImg" src="~/Images/pay now.png" onclick="Pay_Now(@item.Product.Price)" />
                        </div>
                </div>
        </div>
    </div>

}
<script>

    function Pay_Now(price) {

        sessionStorage["P"] = price;
        var url = '@Url.Action("Payment", "SearchResult")';
        document.location.href = url;

    }
</script>
</body></html>